/* #tblSourcings,
#tblTareas {
    border-collapse: separate;
    border-spacing: 0px 20px;
} */

#tblSourcings tbody th,
#tblSourcings tbody td {
    padding: 1rem 0.75rem;
}

#tblSourcings tbody td,
#tblTareas tbody td {
    padding: 0.5rem 0.75rem;
}

table.dataTable.dtr-column>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-column>tbody>tr>th.dtr-control:before,
table.dataTable.dtr-column>tbody>tr>td.control:before,
table.dataTable.dtr-column>tbody>tr>th.control:before {
    border: 0;
    top: initial;
    height: auto;
    left: initial;
    display: block;
    line-height: 0;
    margin-top: 0em;
    box-shadow: none;
    margin-left: 0em;
    position: inherit;
    width: fit-content;
    color: transparent;
    text-align: center;
    border-radius: 50%;
    box-sizing: content-box;
    text-indent: 0 !important;
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
    content: url("../resources/libraries/dataTable/details_open.png");
}

table.dataTable.dtr-column>tbody>tr.parent td.dtr-control:before,
table.dataTable.dtr-column>tbody>tr.parent th.dtr-control:before,
table.dataTable.dtr-column>tbody>tr.parent td.control:before,
table.dataTable.dtr-column>tbody>tr.parent th.control:before {
    background-color: transparent;
    content: url("../resources/libraries/dataTable/details_close.png");
}

#tblTareas thead th {
    border-bottom: 0px !important;
}

.td-text {
    font-size: 14px;
    font-weight: 500;
}

.badge-defin {
    background-color: #adb5bd !important;
}

.btn-light {
    border: 1px solid #d0d0d2 !important;
}

.btn-task {
    width: 20px;
    height: 20px;
    line-height: 0;
    font-size: 12px;
    margin-top: 0px;
    font-weight: 400;
    user-select: none;
    border-width: 1px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    display: inline-grid;
    align-content: center;
    vertical-align: middle;
    padding: 0px !important;
}

.btn-bf {
    color: #444;
    background-color: transparent;
    border-color: #ddd !important;
}

.btn-af {
    color: #fff !important;
    border-color: #28a745 !important;
    background-color: #28a745 !important;
}

.btn-af:hover {
    color: #28a745 !important;
    border-color: #28a745 !important;
    background-color: #fff !important;
}

.editTask {
    margin-right: 10px;
}

.chartjs-render-monitor {
    width: 575px;
    height: 250px;
    display: block;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}