<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Plataforma | Agencias Aduanales</title>

        <meta name="keywords" content="Template ReachMx" />
        <meta name="keywords" content="Plantilla ReachMx" />

        <meta name="description" content="Template Plataforma" />
        <meta name="description" content="Plantilla de plataforma ReachMx" />

        <meta name="responsive" content="no-cache" http-equiv="Cache-Control" />
        <meta name="responsive" content="charset=UTF-8" http-equiv="Content-Type" />

        <meta name="viewport" content="maximum-scale=1, user-scalable=no, width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />

        <link rel="stylesheet" href="/css/toastr.min.css" />
        <link rel="stylesheet" href="/css/chartJS/Chart.css" />
        <link rel="stylesheet" href="/css/chartJS/Chart.min.css" />
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap/buttons.bootstrap4.min.css" />
        <link rel="stylesheet" href="/css/bootstrap/bootstrap-table.min.css" />
        <link rel="stylesheet" href="/css/bootstrap/bootstrap-switch-button.css" />
        <link rel="stylesheet" href="/css/bootstrap/responsive.bootstrap4.min.css" />
        <link rel="stylesheet" href="/css/bootstrap/bootstrap-switch-button.min.css" />

        <link rel="stylesheet" href="/system/dataTable/datatables.min.css" />
        <link rel="stylesheet" href="/system/dataTable/datatables/css/dataTables.bootstrap4.min.css" />

        <link rel="stylesheet" href="/system/adminLTE/css/ionicons.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/css/adminlte.min.css" />

        <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jqvmap.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jsgrid.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jquery-ui.theme.min.css" />

        <link rel="stylesheet" href="/system/adminLTE/plugins/bootstrap/css/bootstrap-duallistbox.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/bootstrap/css/bootstrap-colorpicker.min.css" />

        <link rel="stylesheet" href="/system/adminLTE/plugins/chart/css/Chart.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/pdfmake/pdfmake.min.js" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/toastr/css/toastr.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/fullcalendar/css/main.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/dropzone/css/dropzone.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/summernote/css/summernote.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/bs-stepper/css/bs-stepper.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/flag-icon-css/css/flag-icon.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/ekko-lightbox/css/ekko-lightbox.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/sweetalert2/css/sweetalert2.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/summernote/css/summernote-bs4.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/select2/css/select2-bootstrap4.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/daterangepicker/css/daterangepicker.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
        <link rel="stylesheet" href="/system/adminLTE/plugins/tempusdominus/css/tempusdominus-bootstrap-4.min.css" />

        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/navbar.css" />

        <link rel="stylesheet" href="/css/tablas-menu.css" />

        <script src="/js/popper/popper.js"></script>
        <script src="/js/sweetalert2/sweetalert2.js"></script>
        <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    </head>

    <body class="sidebar-mini-md layout-fixed control-sidebar-slide-open">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navbar-icon-menu" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown user-menu">
                        <a href="" class="nav-link dropdown-toggle nav-drop-img" data-toggle="dropdown">
                            <img src="/resources/img/usuario.jpg" class="user-image img-circle elevation-2" alt="Imagen Usuario" />
                            <span class="d-none d-md-inline">Héctor López</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px">
                            <li class="user-header bg-primary">
                                <img src="/resources/img/usuario.jpg" class="user-image img-circle elevation-2" alt="Imagen Usuario Dropdown" />
                                <p class="text-capitalize">Héctor López <small>Gerente Logística</small></p>
                            </li>
                            <li class="user-footer d-flex justify-content-between">
                                <a href="/aplication/perfil.html" class="btn btn-default">Perfil</a>
                                <a href="https://www.reachmx.com/" class="btn btn-default ml-auto">Cerrar Session</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
                <a href="https://www.reachmx.com/" class="brand-link">
                    <img src="/resources/svg/tu_logo_icon.svg" class="brand-image" alt="Logo Empresa" />
                    <span class="brand-text font-weight-light"> <img src="/resources/svg/tu_logo.svg" class="brand-imagen img-fluid img-sm" alt="Nombre Empresa" />&nbsp; </span>
                </a>
                <div class="sidebar">
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-compact nav-collapse-hide-child" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="/index.html" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p class="nav-titles">Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-archive"></i>
                                    <p class="nav-titles">Proyectos<i class="fas fa-angle-left right"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-nuevo.html" class="nav-link">
                                            <i class="nav-icon fas fa-plus"></i>
                                            <p class="nav-titles">Nuevo</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-todos.html" class="nav-link">
                                            <i class="nav-icon fas fa-record-vinyl"></i>
                                            <p class="nav-titles">Todos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-activos.html" class="nav-link">
                                            <i class="nav-icon fas fa-record-vinyl"></i>
                                            <p class="nav-titles">Activos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-concluidos.html" class="nav-link">
                                            <i class="nav-icon fas fa-record-vinyl"></i>
                                            <p class="nav-titles">Concluidos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-eliminados.html" class="nav-link">
                                            <i class="nav-icon fas fa-record-vinyl"></i>
                                            <p class="nav-titles">Eliminados</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-mis-asignados.html" class="nav-link">
                                            <i class="nav-icon fas fa-record-vinyl"></i>
                                            <p class="nav-titles">Mis proyectos asignados</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/aplication/proyectos-mis-concluidos.html" class="nav-link">
                                            <i class="nav-icon fas fa-record-vinyl"></i>
                                            <p class="nav-titles">Mis proyectos concluidos</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/asesores.html" class="nav-link">
                                    <i class="nav-icon fas fa-id-card-alt"></i>
                                    <p class="nav-titles">Asesores</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/clientes.html" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p class="nav-titles">Clientes</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/productos.html" class="nav-link">
                                    <i class="nav-icon fas fa-boxes"></i>
                                    <p class="nav-titles">Productos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/proveedores.html" class="nav-link">
                                    <i class="nav-icon fas fa-city"></i>
                                    <p class="nav-titles">Proveedores</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/cotizaciones.html" class="nav-link">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                    <p class="nav-titles">Cotizaciones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/agentes-carga.html" class="nav-link">
                                    <i class="nav-icon fas fa-dolly-flatbed"></i>
                                    <p class="nav-titles">Agentes carga</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/agencias-aduanales.html" class="nav-link active">
                                    <i class="nav-icon fas fa-route"></i>
                                    <p class="nav-titles">Agencias aduanales</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-custom">
                    <nav>
                        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact nav-flat" role="menu">
                            <li class="nav-item">
                                <a href="/aplication/views/terminos_condiciones.html" class="nav-link">
                                    <i class="nav-icon fas fa-file-signature"></i>
                                    <p class="nav-titles">Términos y condiciones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aplication/views/aviso_privacidad.html" class="nav-link">
                                    <i class="nav-icon fas fa-file-archive"></i>
                                    <p class="nav-titles">Aviso de privacidad</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="h1-title">Agencias aduanales</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/index.html">Inicio</a></li>
                                    <li class="breadcrumb-item active">Agencias aduanales</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-primary card-outline shadow">
                            <div class="card-body pb-0">
                                <div class="card m-0" style="border: 0; border-radius: 0; box-shadow: none">
                                    <div class="text-right border-0 px-3 pt-3 pb-2">
                                        <a href="" class="newAgencia" type="button">Nueva Agencia</a>
                                    </div>
                                    <div class="card-body">
                                        <div class="p-0">
                                            <input type="hidden" id="txtCount" value="5" />
                                            <table id="tblAgenciasAd" class="table table-borderless responsive nowrap" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th data-priority="0"></th>
                                                        <th data-priority="1">Agencia</th>
                                                        <th data-priority="2">Agente</th>
                                                        <th data-priority="4">Correo</th>
                                                        <th data-priority="6">Teléfono</th>
                                                        <th data-priority="3" class="row-icons"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="shadow border-row align-td" id="tr_05" style="vertical-align: middle">
                                                        <td class="align-td"></td>
                                                        <td class="align-td">
                                                            <a href="/aplication/agencias-aduanales-detalle.html" style="margin-left: 0.5rem">
                                                                <span class="td-text">Joffroy</span>
                                                            </a>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">Luis Pérez</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">luis@agencia1.com</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">(+1) (000) 000-0000</span>
                                                        </td>
                                                        <td class="icons-td">
                                                            <a type="button" href="#" data-id="01" class="eliminar_agencia trashCan" data-toggle="modal">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="shadow border-row align-td" id="tr_04" style="vertical-align: middle">
                                                        <td class="align-td"></td>
                                                        <td class="align-td">
                                                            <a href="/aplication/agencias-aduanales-detalle.html" style="margin-left: 0.5rem">
                                                                <span class="td-text">Giraud</span>
                                                            </a>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">Edna Ruy</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">edna@agencia2.com</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">(+66) (000) 000-0000</span>
                                                        </td>
                                                        <td class="icons-td">
                                                            <a type="button" href="#" data-id="01" class="eliminar_agencia trashCan" data-toggle="modal">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="shadow border-row" id="tr_03" style="vertical-align: middle">
                                                        <td class="align-td"></td>
                                                        <td class="align-td">
                                                            <a href="/aplication/agencias-aduanales-detalle.html" style="margin-left: 0.5rem">
                                                                <span class="td-text">Gamas</span>
                                                            </a>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">Victor Melendrez</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">victo@agencia3.com</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">(+ 52) (000) 000-0000</span>
                                                        </td>
                                                        <td class="icons-td">
                                                            <a type="button" href="#" data-id="01" class="eliminar_agencia trashCan" data-toggle="modal">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="shadow border-row" id="tr_01" style="vertical-align: middle">
                                                        <td class="align-td"></td>
                                                        <td class="align-td">
                                                            <a href="/aplication/agencias-aduanales-detalle.html" style="margin-left: 0.5rem">
                                                                <span class="td-text">Maval</span>
                                                            </a>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">Miguel Mongeote</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">miguel@agencia4.com</span>
                                                        </td>
                                                        <td class="align-td">
                                                            <span class="td-text">Por definir</span>
                                                        </td>
                                                        <td class="icons-td">
                                                            <a type="button" href="#" data-id="01" class="eliminar_agencia trashCan" data-toggle="modal">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modalAgencias" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAgencias" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 id="titleModalAg" class="modal-title title-color">Nueva Agencia</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <form class="form-horizontal" id="agregarAgencia">
                                        <div class="modal-body p-0">
                                            <div class="card-body cards-productos pb-0">
                                                <div class="form-group">
                                                    <label for="txtAgencia">Agencia</label>
                                                    <input type="text" class="form-control form-control-border" id="txtAgencia" placeholder="Agencia" />
                                                    <div id="val_txtAgencia" class="valid-inputs" style="display: none">Este campo es obligatorio</div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtAgPuerto">Puerto</label>
                                                    <input type="text" class="form-control form-control-border" id="txtAgPuerto" placeholder="Puerto" />
                                                    <div id="val_txtAgPuerto" class="valid-inputs" style="display: none">Este campo es obligatorio</div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtAgCodigo">Codigo</label>
                                                    <input type="text" class="form-control form-control-border" id="txtAgCodigo" placeholder="Codigo" />
                                                    <div id="val_txtAgCodigo" class="valid-inputs" style="display: none">Este campo es obligatorio</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <button type="button" class="btn btn-outline-secondary btn-sm btn-nuevo" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-outline-success btn-sm btn-nuevo addAgencia">Agregar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <footer class="main-footer">
            <strong><a target="_blank" href="https://reachmx.com">ReachMX&#174;</a></strong>
            <div class="float-right d-none d-sm-inline-block"></div>
        </footer>

        <script src="/js/tablas-menu.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/mask/jquery.mask.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/toastr/toastr.min.js"></script>
        <script src="/js/mask/jquery.mask.min.js"></script>

        <script src="/js/chartJS/Chart.js"></script>
        <script src="/js/chartJS/Chart.min.js"></script>
        <script src="/js/chartJS/Chart.bundle.js"></script>
        <script src="/js/chartJS/Chart.bundle.min.js"></script>

        <script src="/js/bootstrap/bootstrap-table.js"></script>
        <script src="/js/bootstrap/bootstrap-table.min.js"></script>
        <script src="/js/bootstrap/bootstrap-table-export.js"></script>
        <script src="/js/bootstrap/bootstrap-table-export.min.js"></script>
        <script src="/js/bootstrap/bootstrap-table-locale-all.js"></script>
        <script src="/js/bootstrap/bootstrap-switch-button.min.js"></script>
        <script src="/js/bootstrap/bootstrap-table-locale-all.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="/system/dataTable/responsive/js/dataTables.responsive.min.js"></script>
        <script src="/system/dataTable/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="/system/dataTable/responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="/system/dataTable/jsZip/jszip.min.js"></script>
        <script src="/system/dataTable/pdfmake/vfs_fonts.js"></script>
        <script src="/system/dataTable/pdfmake/pdfmake.min.js"></script>
        <script src="/system/dataTable/buttons/js/buttons.print.min.js"></script>
        <script src="/system/dataTable/buttons/js/buttons.html5.min.js"></script>
        <script src="/system/dataTable/buttons/js/buttons.colVis.min.js"></script>
        <script src="/system/dataTable/buttons/js/buttons.bootstrap4.min.js"></script>

        <script src="/system/adminLTE/js/adminlte.min.js"></script>
        <script src="/system/adminLTE/plugins/chart/js/Chart.min.js"></script>
        <script src="/system/adminLTE/plugins/sparklines/sparkline.js"></script>
        <script src="/system/adminLTE/plugins/toastr/js/toastr.min.js"></script>
        <script src="/system/adminLTE/plugins/moment/js/moment.min.js"></script>
        <script src="/system/adminLTE/plugins/dropzone/js/dropzone.min.js"></script>
        <script src="/system/adminLTE/plugins/select2/js/select2.full.min.js"></script>
        <script src="/system/adminLTE/plugins/bs-stepper/js/bs-stepper.min.js"></script>
        <script src="/system/adminLTE/plugins/inputmask/jquery.inputmask.min.js"></script>
        <script src="/system/adminLTE/plugins/inputmask/jquery.inputmask.bundle.js"></script>
        <script src="/system/adminLTE/plugins/daterangepicker/js/daterangepicker.js"></script>
        <script src="/system/adminLTE/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

        <script src="/system/adminLTE/plugins/sweetalert2/js/sweetalert2.min.js"></script>
        <script src="/system/adminLTE/plugins/sweetalert2/js/sweetalert2.all.min.js"></script>

        <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap-switch.min.js"></script>
        <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap-colorpicker.min.js"></script>
        <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap-tempusdominus.min.js"></script>
        <script src="/system/adminLTE/plugins/bootstrap/js/jquery.bootstrap-duallistbox.min.js"></script>

        <script src="/system/adminLTE/plugins/summernote/js/summernote.min.js"></script>
        <script src="/system/adminLTE/plugins/summernote/js/summernote-bs4.min.js"></script>
        <script src="/system/adminLTE/plugins/summernote/js/summernote-lite.min.js"></script>

        <script src="/system/adminLTE/plugins/jquery/js/jquery.min.js"></script>
        <script src="/system/adminLTE/plugins/jquery/js/jquery-ui.min.js"></script>
        <script src="/system/adminLTE/plugins/jquery/js/jquery.knob.min.js"></script>
        <script src="/system/adminLTE/plugins/jquery/js/jquery.vmap.min.js"></script>
        <script src="/system/adminLTE/plugins/jquery/js/maps/jquery.vmap.world.js"></script>
        <script src="/system/adminLTE/plugins/jquery/js/jquery.overlayScrollbars.min.js"></script>

        <script src="/js/agenicas-aduanales.js"></script>
    </body>
</html>
